**/.git
**/.env
**/node_modules
**/vendor
**/dist
**/.vite
**/tests
**/*.md
**/docker-compose.yml
**/Dockerfile
**/Dockerfile.local
**/.dockerignore
**/.editorconfig
**/.gitignore
**/phpunit.xml
**/vitest.config.*
**/tailwind.config.js
**/postcss.config.js
app/backend/public/storage
app/backend/storage
storage
